*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
    transition: all 0.1s ease;
    scroll-behavior: smooth;
}

body{
    background: $surface-300;
    color: aliceblue;
}
.btn{
    width: 10vw;
    height: 5vh;
    outline: none;
    border-radius: 1rem;
    margin-top: 2px;
    box-shadow: none;
    border: none;
    &:hover{
        box-shadow: 0px 0px 5px 1px $primary-400;
    }
}
.primary{
    background-color: $primary-100;
    color: $surface-mixed-100;
}
.secondary{
    background-color: $primary-400;
    color: $surface-mixed-200;
}
.title{
    font-size: 3rem;
    color: $primary-100;
    margin-top: -10px;
}