.nav{
    display: flex;
    justify-content: space-between;
    height: 16vh;
    align-items: center;
    padding-inline: 5vw;
}

.nav-links ul{
    display: flex;
}
.nav-links ul li{
    margin-inline: 4px;
    padding-inline: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    list-style: none;
    font-size: 1.3rem;
    border-radius: 2rem;
    cursor: pointer;
    &:hover{
        box-shadow: 2px 2px 2px $surface-mixed-600, inset 2px 2px 2px $surface-mixed-100;
    color: $primary-300;
    }

}
// .nav-links ul li:hover{ 

// }
.logo{
    font-size: 2rem;
    color: $primary-100;
}